/* ------------ BUTTON STYLES ------------ */

/* Include these buttons in your html with `<div class="byu-button color">Button Text</div>` */


/* --- standard button --- */

.byu-button {
    display: inline-block;
    padding: 9px 12px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-family: Vitesse A, Vitesse B, Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.byu-button:hover {
    background: #444;
}

.byu-button:active {
    background-color: #333;
    -webkit-box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.35);
    box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.35);
}


/* --- white buttons --- */

/* white/gray button */
.white {
    background-color: #fff;
    color: #141414;
    border: 1px solid #c5c5c5;
}

.white:hover {
    background-color: #ddd;
}

.white:active {
    background-color: #ccc;
}

/* white/navy button */
.whitenavy {
    background-color: #fff;
    color: #002e5d;
    border: 1px solid #002e5d;
}

.whitenavy:hover {
    background-color: #869db5;
    color: #fff;
}

.whitenavy:active {
    background-color: #002e5d;
    color: #fff;
}


/* --- grey buttons --- */

/* light gray button */
.lightgray {
    background-color: #E5E5E5;
    color: #002e5d;
}

.lightgray:hover {
    background-color: #F2F2F2;
}

.lightgray:active {
    background-color: #666;
}

/* medgray button */
.medgray {
    background-color: #666;
    color: #fff;
}

.medgray:hover {
    background-color: #a2a2a2;
}

.medgray:active {
    background-color: #7a7a7a;
}


/* --- blue buttons --- */

/* royal blue button */
.royal {
    background-color: #003da5;
    color: #fff;
}

.royal:hover {
    background-color: #114bad;
}

.royal:active {
    background-color: #002d95;
}

/* navy button */
.navy {
    background-color: #002e5d;
    color: #fff;
}

.navy:hover {
    background-color: #003da5;
}

.navy:active {
    background-color: #114bad;
}

/* light blue button */
.lightblue {
    background-color: #869db5;
    color: #fff;
}

.lightblue:hover {
    background-color: #96adc5;
}

.lightblue:active {
    background-color: #768da5;
}

/* extra light blue button */
.xlightblue {
    background-color: #c3ddf9;
    color: #002e5d;
}

.xlightblue:hover {
    background-color: #cfdfff;
}

.xlightblue:active {
    background-color: #b3cde9;
}

/* --- secondary color buttons --- */

/* teal button */
.teal {
    background-color: #84dcb4;
    color: #fff;
}

.teal:hover {
    background-color: #e5f7ef;
    color: #002e5d;
}

.teal:active {
    background-color: #74cca4;
    color: #002e5d;
}

/* red button - for Errors only */
.red {
    background-color: #b3041a;
    color: #fff;
}

.red:hover {
    background-color: #d3243A;
}

.red:active {
    background-color: #B3041A;
}

/* yellow button */
.yellow {
    background-color: #fcc015;
    color: #002e5d;
}

.yellow:hover {
    background-color: #fef2d0;
}

.yellow:active {
    background-color: #ffcf1a;
}

/* green button */
.green {
    background-color: #66B200;
    color: #fff;
}

.green:hover {
    background-color: #86d220;
}

.green:active {
    background-color: #56a200;
}

/* orange button */
.orange {
    background-color: #d57301;
    color: #fff;
}

.orange:hover {
    background-color: #f59321;
}

.orange:active {
    background-color: #c56300;
}