/*  //--  colors   --//  */
 
 /* blues */
 $navy: #002E5D;
 $medblue: #869DB5;
 $lightBlue: #e0f0cc;
 $xlightblue: #C3DDF9;
 $brightBlue: #0057B8;
 $royal: #003DA5;
 $lightRoyal: #114BAD;
 
 /* grays */
 $xlightgray: #f2f2f2;
 $lightgray: #e5e5e5;
 $lightergray: #e6e6e6;
 $gray: #c5c5c5;
 $medgray: #666;
 $darkgray: #6a6a6b; // least used gray
 $darkestgray: #141414;  // this should be used for body & default text.
 
 /* other colors */
 $red: #B3041A;
 
 $yellow: #FCC015;
 $lightyellow: #fef2d0;
 
 $teal: #84DCB4;
 $lightteal: #e5f7ef;
 
 $green: #66B200; // doesn't work with accessibility
 $lightgreen: #e0f0cc;
