/* ----------- SASS Variables ----------- */

$mobile_max_width: 1023px;
$large_screen_start_width: 1024px;

/* gradients */
$nav_gradient: 10%;
$nav_gradient_2: 5%;

/* for more detail on colors, refer to the brand guide at https://brand.byu.edu/guidelines/color */
/*  //  colors   //  */
 
 /* blues */
 $navy: #002E5D;
 $medblue: #869DB5;
 $lightBlue: #e0f0cc;
 $xlightblue: #C3DDF9;
 $brightBlue: #0057B8;
 $royal: #003DA5;
 $lightRoyal: #114BAD;
 
 /* grays */
 $xlightgray: #f2f2f2;
 $lightgray: #e5e5e5;
 $lightergray: #e6e6e6;
 $gray: #c5c5c5;
 $medgray: #666;
 $darkgray: #6a6a6b; // least used gray
 $darkestgray: #141414;  // this should be used for body & default text.
 
 /* other colors */
 $red: #B3041A;
 
 $yellow: #FCC015;
 $lightyellow: #fef2d0;
 
 $teal: #84DCB4;
 $lightteal: #e5f7ef;
 
 $green: #66B200; // doesn't work with accessibility
 $lightgreen: #e0f0cc;

/* ----------- Default Styling ----------- */

@mixin display-flex() {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

/*  // -----------------  //  */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $darkestgray;
}

a {
  color: $royal;
}

/*  // ---- fonts & sizing ----  //  */

@media screen and (max-width: $mobile_max_width){
  h2 {
    font-size: 1em;
  }
}

@media screen and (min-width: $large_screen_start_width) {
  h2 {
    font-size: 1.6875em;
  }
}

/*  // ---- often used classes ----  //  */

.hidden {
  display: none;
}

.panel {
  background: #fff;
}
